.product-container {
  height: 200px;
  width: 200px;
}

.product-img {
  width: 200px;
  height: 400px;
  background-size: cover;
  background-position: center;
  margin: 30px;
  opacity: .9;
}

.container {
  padding-right: 20px;
  align-items: center;
  object-fit: fill;
  margin-bottom: 20px;
}

.product-body {
  background-color: white;
}

.card {
  border: none;
  text-align: center;
}

.product-img :hover {
  zoom: 10%;
}

.card a {
  text-decoration: none;
  color: black;
}

.card p {
  margin: 5px;
}

.page-title {
  font-family: 'Bodoni Moda', serif;
  font-weight: 700;
}
