.designer-index-info {
  background-position: center;

}

.designer-index-info img {
  height: 200px;
  width: 300px;
  object-fit: contain;
  align-content: center;
  display: flex;
  justify-content: space-between;

}


.designer-index-container {
  background-color: white;
  margin: 10px;
}
