.designer-index-info {
  background-position: center;
  text-align: center;
  margin: auto;
  img {
    width: 100%;
  }
}


.designer-index-card {
  height: 250px;
  width: 250px;
  justify-content: center;
  margin: 10px;
  background-color: white
;
}

.designer-index-container {
  background-color: white;
  margin: 10px;
  justify-content: center;
}

.designer-index-info a {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
