.email {
  max-width: 300px;
  margin: auto
}

.password {
  max-width: 300px;
  margin: auto;
}

.devise-container {
  width: 50%;
  height: 100%;
  margin: auto;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
}

.form-check {
  float: none;
  width: fit-content;
  margin: auto;
}
