// Specific CSS for your home-page
.home-img-men {
  height: 600px;
  background-size: cover;
  display: flex;
  justify-content: center;
  opacity: 0.9;
  margin-left: 20px;
}

.home-img-women {
  height: 600px;
  text-align: center;
  display: flex;
  justify-content: center;
  opacity: 0.9;
  background-size: cover;
  margin-right: 20px;
}

.home-img-women h1 {
  margin: auto
}

.home-img-men h1 {
  margin: auto
}


.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}

footer {
  // background: #F4F4F4;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // height: 100px;
  // padding: 0px 50px;
  p {
    margin-bottom: 6px;
  }
  // color: rgba(0, 0, 0, 0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.footer .fa-heart {
  color: #D23333;
}

.home-page-img {
  margin-top: 20px;
}

h1 {
  text-align: center;
}

.order-complete-notification {
  text-align: center;
}
