.payment-container {
  margin: 20px auto;
  width: fit-content;
  justify-content: center;
  background-color: white;
  padding: 20px 70px;
  text-align: center;
}

#pay {
  background-color: black;
  color: white;
  padding: 5px 10px;
  width: 200px;
  text-decoration: none;
}
