.product-show-container {
  display: flex;
  margin: 20px;
  background-color: white;
  width: 70%;
  padding: 30px;
  margin: 0 auto;
  margin-top: 20px;
}

.product-show-card {
  display: flex;

  // height: 400px;
}


.product-show-card>img {
  height: 400px;
}


.product-show-info {
  margin-left: 20px;
  border-left: 1px solid black;
  padding: 10px 20px 0;
  background-color: whitesmoke;

  h2 {
    font-family: 'Bodoni Moda', serif;
    font-weight: 700;
  }
}

.product-show-description {
  border-top: 1px solid black;
  padding-top: 10px;
  margin-top: 20px;
}

.add-to-cart-btn {
  padding: 4px 8px;
  border: 2px solid black;
  text-decoration: none;
  color: white;
  background-color: black;
}

.product-show-info h2 {
  color: black;
}

.product-show-info a {
  text-decoration: none;
}

.was-validated .form-control:valid,
.form-control.is-valid,
.form-select {
  border-color: black;
  background-image: none;
}

.was-validated .form-control:valid:focus,
.form-control.is-valid:focus {
  box-shadow: none;
}

.btn1 {
  background-color: black;
  color: white;
}

.carousel-item img {
  margin: auto
}


@media screen and (max-width: 420px) {
  .product-row {
    display: grid;
    grid-template-rows: 1fr 1fr;
  }

  .product-show-card {
    display: inline;
    padding: 0
  }

  .product-show-container {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .product-show-info {
    padding: 10px;
    margin: 0;
    border: none
  }

  .carousel-img {
    height: 400px;
    width: 100% !important
  }
}
