.questionnaire_container {
  text-align: center;
  background-color: white;
}

#new_questionnaire {
  border: 3px solid black;
  box-shadow: 5px 10px;
  background-color: whitesmoke;
  margin-bottom: 20px;
}

.questionnaire-form {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 10px;
}

.optional.questionnaire_gender {
  width: 400px;
  background-color: white;
  margin: 0 auto;
  padding-top: 10px;
  background-color: whitesmoke;
}

.optional.questionnaire_age {
  width: 400px;
  background-color: white;
  margin: 0 auto;
  background-color: whitesmoke;
}

.optional.questionnaire_location {
  width: 400px;
  background-color: white;
  margin: 0 auto;
  background-color: whitesmoke;
}

.optional.questionnaire_budget {
  width: 400px;
  background-color: white;
  margin: 0 auto;
  background-color: whitesmoke;
}

.optional.questionnaire_colour_palette {
  width: 400px;
  background-color: white;
  margin: 0 auto;
  background-color: whitesmoke;
}


.style-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 10px;
}

.form-select {
  border: 1px solid black;
}

.syle-item {
  flex: 0 0 30%;
}

.syle-selector {
  position: absolute;
  transform: scale(0);
}

.style-selector+label {
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px 30px 10px;
  border: 1px solid #EAEAEA;
  border-radius: 4px;
  opacity: 0.8;
  margin: 0 5px;
  font-weight: bold;
}

.style-selector:checked+label {
  opacity: 1;
  border: 5px solid #4770C4;
}

.form-check-input[type="radio"] {
  display: none
}

.input[value="Streetwear"] label:focus-within {
  background-color: yellow;
}

#questionnaire_style_streetwear+label {
  height: 300px;
  width: 150px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("https://res.cloudinary.com/dpt3b8spa/image/upload/v1662479453/fashion/Off-White_Fall_2019_Menswear_Fashion_Show_u2mq7m.jpg");
  background-size: cover;
  background-position: center
}

#questionnaire_style_sportswear+label {
  height: 300px;
  width: 150px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://res.cloudinary.com/dpt3b8spa/image/upload/v1662479453/fashion/Gosha_Rubchinskiy_Fall_2018_Menswear_Fashion_Show_rslcar.jpg");
  background-size: cover;
  background-position: center
}

#questionnaire_style_smartwear+label {
  height: 300px;
  width: 150px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://res.cloudinary.com/dpt3b8spa/image/upload/v1662479453/fashion/Light_Grey_Stripe_Lazio_Suit___Pure_Tropical_Wool_Three_Piece_qd5xsa.png");
  background-size: cover;
  background-position: center
}

#questionnaire_style_casual+label {
  height: 300px;
  width: 150px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://res.cloudinary.com/dpt3b8spa/image/upload/v1662479453/fashion/Screenshot_2022-09-06_at_11.40.33_hfni6j.png");
  background-size: cover;
  background-position: center;
}

#questionnaire_style_preppy+label {
  height: 300px;
  width: 150px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://res.cloudinary.com/dpt3b8spa/image/upload/v1662481870/fashion/Polo_Ralph_Lauren_Fall_2020_Menswear_Collection_a5ri1f.jpg");
  background-size: cover;
  background-position: center
}

#questionnaire_style_avant-garde+label {
  height: 300px;
  width: 150px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://res.cloudinary.com/dpt3b8spa/image/upload/v1663089126/fashion/Rick_Owens_Men_s_SS18_-_Paris_qh79j9.jpg");
  background-size: cover;
  background-position: center;
}

.style-item {
  .form-check-label {
    color: white;
  }
}

.questionnaire_info h1 {
  padding-top: 20px;
  font-family: 'Bodoni Moda', serif;
  font-weight: 700;
}

.form-control {
  border: 1px solid black;
}
