
<div class="designer-index-container row">

  <%@designers.each do |designer|%>

    <div class="designer-index-card d-flex col-4">
      <div class="designer-index-info">
      <%=link_to designer_path(designer) do %>
        <h1><%=designer.name%></h1>
        <% end %>
      </div>
    </div>
  <%end%>
</div>
