<%# <div class="second-nav-bar">
  <h1>Mens</h1>
  <h1>Womens</h1>
  <h1>Brands</h1>
  <h1>Discover</h1>
</div> %>


<div class="home-page-img row">
  <div class= "col-6">
    <div class ="home-img-men" style= "background-image: url('https://www.thefashionisto.com/wp-content/uploads/2021/05/POLO-Ralph-Lauren-Spring-Summer-2021-Menswear-002.jpg')">
    <h1>Mens</h1>
      </div>
    </div>
  <div class= "col-6">
    <div class ="home-img-women" style= "background-image: url('https://www.rlmedia.io/is/image/PoloGSI/s7-1125721_alternate10?$plpDeskRFAlt$')">
    <h1>Womens</h1>
    </div>
  </div>
</div>
<%#
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
  </div>
</div> %>
