<div class="home-page-img row ">

  <div class= "col-6">
    <%= link_to mens_products_path do  %>
    <div class ="home-img-men" style= "background-image: url('https://www.thefashionisto.com/wp-content/uploads/2021/05/POLO-Ralph-Lauren-Spring-Summer-2021-Menswear-002.jpg')">
    </div>
    <% end %>
  </div>

  <div class= "col-6">
    <%= link_to womens_products_path do  %>
    <div class ="home-img-women" style= "background-image: url('https://res.cloudinary.com/dpt3b8spa/image/upload/v1662584579/fashion/CE02A93E-D58B-4F79-862B-5A8FA2C4EA58_cwhidu.jpg')">
    </div>
    <% end %>
  </div>
</div>
