<div class="home-page-img row ">

  <div class= "col-md-6 col-sm-12 mens">
    <%= link_to mens_products_path do  %>
    <div class ="home-img-men" style= "background-image: url('https://res.cloudinary.com/di4vjvhde/image/upload/v1671215477/NewGRND/Sandro_Fall_2019_Menswear_Fashion_Show_xz3jjg.jpg')">
    </div>
    <% end %>
  </div>

  <div class= "col-md-6 col-sm-12 womens">
    <%= link_to womens_products_path do  %>
    <div class ="home-img-women" style= "background-image: url('https://res.cloudinary.com/di4vjvhde/image/upload/v1671215475/NewGRND/CE02A93E-D58B-4F79-862B-5A8FA2C4EA58_m8azoc.jpg')">
    </div>
    <% end %>
  </div>
</div>
