<div class="home-page-img row">

  <div class= "col-6">
    <%= link_to products_path do  %>
    <div class ="home-img-men" style= "background-image: url('https://www.thefashionisto.com/wp-content/uploads/2021/05/POLO-Ralph-Lauren-Spring-Summer-2021-Menswear-002.jpg')">
    </div>
    <% end %>
  </div>

  <div class= "col-6">
    <div class ="home-img-women" style= "background-image: url('https://www.rlmedia.io/is/image/PoloGSI/s7-1125721_alternate10?$plpDeskRFAlt$')">
    </div>
  </div>
</div>
