<div class="result-container">
<%@questionnaire.matches.each do |match|%>
 <div class="brand-selector">
 <div class="brand-container">
        <div class="brand-card">
            <div class="face face1">
                <h1><%=match.designer.name%></h1>
            </div>
            <div class="face face2">
                <div class="brand-content">
                    <p><%=match.designer.description%></p>
                      <p><%=link_to "Take a closer look", designer_path(match.designer_id)%></p>
                </div>
            </div>
        </div>
       </div>
    </div>
  <%end%>
</div>
