<div class="result-page-title">
<h1>Take at look at your matches!</h1>
</div>
<div class="result-container">
<%@questionnaire.matches.each do |match|%>
 <div class="brand-selector">
 <div class="brand-container">
        <div class="brand-card">
            <div class="face face1">
                <img src="<%=match.designer.image%>">
            </div>
            <div class="face face2">
                <div class="brand-content">
                  <p><%=link_to "Take a closer look", designer_path(match.designer_id)%></p>
                    <p><%=match.designer.description%></p>
                </div>
            </div>
        </div>
       </div>
    </div>
  <%end%>
</div>
