<div class="result-page-body">
<div class="result-page-title">
<h1>Take a look at your matches!</h1>
</div>

<div class="result-container">
  <div class="brand-page">
   <div class="result-brand-container row">
      <%@questionnaire.matches.each do |match|%>
        <div class="brand-card col-md-6">
          <div class="result-brand-image">
              <img src="<%=match.designer.image%>">
           </div>
                <div class="brand-content">
                  <p><%=link_to "Take a closer look", designer_path(match.designer_id)%></p>
                  <p><%=match.designer.description%></p>
                </div>
        </div>
     <%end%>
    </div>
  </div>
</div>
</div>
