.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.second-nav-bar {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
  margin-bottom: 20px;
}

.second-nav-bar h1 {
  font-size: small;
  padding: 10px 0;
  padding-top: 15px;
  justify-content: center;
}

.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}


.search-form-control .form-control {
  height: 3.0rem;
  width: 200px;
  border: none;
  background-color: white;
  border-bottom: 1px solid black;
}


.search-form-control .form-control:focus {
  text-decoration: none;
  outline: none !important;
}

.second-nav-bar a {
  text-decoration: none;
  color: black;
}
