<h1>Men's Products</h1>

<div class="product-body">
  <div class="container">
    <div class="row">
      <%@products.each do |product|%>
        <div class="col-3">
          <div class="card">
          <%=link_to product_path(product) do%>
            <div class="product-img" style="background-image: url('<%=product.image%>')">
            </div>
            <p>£<%= product.price%></p>
            <% end %>
          </div>
        </div>
      <%end%>
    </div>
  </div>
</div>


 do
